@import "variables";
@import "font-awesome";
@import "bootstrap";
@import "datepicker";
@import "tom-select";
@import "animations";
@import "scrollbar";
@import "./tailwind.css";

.sticky-sidebar {
  position: sticky;
  top: 10px;
}

// Somewhat prevents flickering when replacing with Tom-select
select[multiple] {
  visibility: hidden;
}

.ts-dropdown-content {
  max-height: 50vh;
}

.font-base {
  font-family: $font-family-base;
}

::selection {
  color: $gray-800;
  background-color: $primary;
}

.dotted-line {
  border-bottom: 2px dotted $gray-700;
  margin: 0 5px;
  position: relative;
}

.hierarchy-line-icon {
  width: 8px;
  height: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPjxwYXRoIHN0cm9rZT0iIzlCOUI5QiIgc3Ryb2tlLWRhc2hhcnJheT0iNCIgZD0iTS41IDQuNWgxMiIvPjxwYXRoIHN0cm9rZT0iIzk3OTc5NyIgZD0iTS41IDQuNXYtNCIvPjwvZz48L3N2Zz4=");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  margin-left: 15px;
  margin-right: 7px;
  margin-top: 4px;
  padding: 0 8px !important;
}

.transaction:has(input[type="checkbox"]:checked) > div > .transaction-item {
  background-color: $primary-bg-subtle-dark;
}

.offline {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: #fbb700;
  font-family: Arial, sans-serif;
}

.wifi-icon {
  width: 100px;
  height: 100px;
}

#offline-countdown {
  margin-top: 20px;
  font-size: 14px;
}

[data-bs-toggle="collapse"] .fa-chevron-down {
  transition: transform 0.25s ease-in-out;
}

[data-bs-toggle="collapse"][aria-expanded="true"] .fa-chevron-down {
  transform: rotate(-180deg);
}

div:where(.swal2-container) {
  z-index: 1100 !important;
}
