{# We use this to preload dynamically generated tailwind classes so the compiler can build them ahead of time #}

<div class="tw:text-blue-800"></div>
<div class="tw:text-yellow-800"></div>
<div class="tw:text-red-800"></div>
<div class="tw:text-green-800"></div>
<div class="tw:text-blue-400"></div>
<div class="tw:text-yellow-400"></div>
<div class="tw:text-red-400"></div>
<div class="tw:text-green-400"></div>
<div class="tw:bg-blue-300"></div>
<div class="tw:bg-yellow-300"></div>
<div class="tw:bg-red-300"></div>
<div class="tw:bg-green-300"></div>
